.projects{
    height: 150vh;
    background: transparent;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: self-start;
    font-size: 4vw; /* Even larger font size for greater impact */
    color: #fff; /* Bright text color for contrast */
    position: relative;
    z-index: 4;
}

.projects-title{
    padding-top: 30vh;
}
.project{
    font-size: 2vw;
}
.project a{
    font-family: 'Sansation', sans-serif;
    font-size: 1vw;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 4vw;
}