
.header-logo {
    /* Adjust the size of your logo as necessary */
    height: auto; /* Example height for your logo */
    width: 5vw;
    align-self: center;
    padding-right: 55vw;
    padding-left: 2vw;
}
.landing-nav{
    background: black;
    height: 15vh;
}
.landing-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Align nav items in a row */
    align-items: center;
    height: 100%;
}
.nav-link {
    /* Adjust the size of your logo as necessary */
    height: 4vh; /* Example height for your logo */
}
.landing-nav ul li {
    height: 4vw;
    margin-left: 3vw;
}

.landing-nav ul li a {
    font-family: 'Sansation', sans-serif;
    font-size: 1vw;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 4vw;
}