@font-face {
    font-family: 'Sansation';
    src: url('../assets/fonts/sansation/Sansation_Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Sansation', Arial, sans-serif;
    color: white;
    background: #041b3a;
    overflow-x: hidden;
}

.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #041b3a;
    background-image: radial-gradient(at top left, rgba(109, 213, 237, 0.2) 30%, rgba(33, 147, 176, 0.2) 70%, rgba(144, 164, 174, 0.2) 90%, rgba(176, 190, 197, 0.2) 100%);
    background-size: cover;
    font-size: 4em; /* Even larger font size for greater impact */
    color: #fff; /* Bright text color for contrast */
    position: relative;
    z-index: 3;
}

.timeline {
    position: relative;
    max-width: 70vw;
}

.timeline-item {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    min-height: 80vh; /* Increase the height of each item */
    max-width: 65vw;
    padding: 20vh 2vw 20vh 5vw; /* Add vertical spacing */
    opacity: 0;
    transform: translateX(100px);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    will-change: transform, opacity;
}

.timeline-item.left .timeline-content,
.timeline-item.right .timeline-content {
    width: 45%; /* Set width for content */
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.timeline-item.left .timeline-content,
.timeline-item.right .timeline-content {
    text-align: left;
}

.timeline-item.left,
.timeline-item.right {
    width: 100%;
    height: auto;
}
.timeline-item.right img, .timeline-item.left img{
    width: 35vw;
    height: auto;
}
.timeline-item.right img{
    padding-left: 3vw;
}
.timeline-item.left img{
    padding-right: 3vw;
}


/* Animation Trigger */
.on-screen {
    opacity: 1;
    transform: translateY(0);
}

.timeline-content {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Subtle background for content */
    border-radius: 10px; /* Rounded corners */
}

.timeline-content p {
    font-size: 2vw; /* Larger text size */
}

.year-indicator {
    position: fixed;
    right: 10px;
    margin-right: 5vw;
    top: 50%;
    transform: translateY(-50%);
    max-width: 25vw;
    opacity: 0;
    z-index: 2;
}
@keyframes fadeIn {
    from{
        opacity: 0;}
    to{
        opacity: 1;}
}
@keyframes fadeOut {
    from{
        opacity: 1;}
    to{
        opacity: 0;}
}
.fade-in {
    animation: fadeIn 0.25s forwards;
}

.fade-out {
    animation: fadeOut 0.25s forwards;
}

.static-indicator{
    background: #042e60;
    opacity: 1;
    position: fixed;
    z-index: 2;
    right: 10px;
    margin-right: 5vw;
    max-width: 15vw;
}

.year {
    font-size: 1.5vw; /* Larger default font size */
    opacity: 0.5; /* Lower default opacity */
    transition: font-size 0.3s ease, opacity 0.3s ease;
    margin: 15px 0; /* Adjust spacing */
}

.year.active {
    font-size: 2.5vw; /* Larger size for the active year */
    opacity: 1; /* Full opacity for the active year */
}

.on-screen {
    opacity: 1;
    transform: translateX(0);
}

